@model IEnumerable<MyCrudGame.Models.Rank>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Icon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxExperience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinExperience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.orbs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.damage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.itemUse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stylishPTS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.devilHunterRank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rankBonus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Icon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxExperience)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinExperience)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.orbs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.damage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.itemUse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.devilHunterRank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stylishPTS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rankBonus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
